.project{
    position: relative;
    background-color: rgb(199, 223, 226);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 1em auto;
    padding-bottom: 1em;
    width: 100%;
    overflow: hidden;
}

.project-actions{
    padding: 0.4em;
    text-align: right;
    background-color: rgb(157, 201, 207);
}

.project-actions form{
    // width: fit-content;
    // margin: 0;
    text-align: left;
}
.project-actions form mat-form-field{
    width: 90%;
}

.send-files-button{
    width: 24px;
    height: 24px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor:pointer;
}
.send-files-button:focus{
    outline:0;
}

.action{
    cursor:pointer;
    padding: 3px 0 0 0;
    width: 35px;
    height: 31px;
    margin-left: 0.5em;
    border-width: 0;
    border-radius: 5px;
}
.action:focus {
    outline:0;
}

.delete:hover{
    color: rgb(218, 106, 32);
}
.edit:hover{
    color: rgb(99, 90, 216);
}
.add-files:hover{
    color: rgb(209, 183, 68);
}

.project-informations{
    padding: 1em 0;
    padding-left: 1.5em;
    font-family: 'Proza Libre', sans-serif;
    font-size: 14px;
}

h2{
    margin: 0;
    margin-bottom: 0.3em;
    font-weight: bold;
    color: rgb(0, 109, 211);
}


p{
    margin: 0;
    font-weight: bold;
}
.tel{
    padding-left: 1em;
    font-weight: bold;
}

.line{
    height: 2px;
    width: 50%;
    background-color: rgb(106, 79, 228);
}

.files{
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

// show files botton
.show-files-button{
    cursor:pointer;
    padding: 2px;
    border-width: 0;
    border-radius: 5px;
}

.show-files-button:focus {
    outline:0;
}

.show-files-button:hover{
    color: rgb(209, 183, 68);
}

// files list
.files-list{
    list-style: none;
    padding: 0;
}
.file{
    cursor:pointer;
}

// .files-list li a{
//     text-decoration: none;
// }



.delete-file-button{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.delete-file-button mat-icon{
    font-size: 1.5em;
}


