
<!-- project -->
<div class="project">
    <!-- actions -->
    <div *ngIf="hasAuthority('project:write')" class="project-actions not-selectable">

        <button title="Delete Project" class="action delete" (click)="deleteProject(project.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <button title="Edit Project" class="action edit" (click)="editProject(project.id)">
            <mat-icon>edit</mat-icon>
        </button>

        <button title="Add Files" class="action add-files" (click)="showInputFiles = !showInputFiles">
            <mat-icon>create_new_folder</mat-icon>
        </button>
      
        <form *ngIf="showInputFiles" [formGroup]="fileForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <ngx-mat-file-input #filesInputField formControlName="filesInputField" placeholder="files to upload" multiple></ngx-mat-file-input>
                <button mat-icon-button matSuffix *ngIf="!filesInputField.empty" (click)="filesInputField.clear($event)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>

            <button class="send-files-button" type="submit"><mat-icon>send</mat-icon></button>

        </form>
    </div>

    <!-- <input id="singleFile" type="file" name="file" multiple (change)="onFileUploadChange($event)"
                #filesInput>
            <input type="submit" [disabled]="files.length === 0"> -->

    <!-- project informations -->
    <div class="project-informations">
        <div>
            <h2>{{project.client.nom}} {{ project.client.prenom }}</h2>
            <p class="tel">Tél : {{ project.client.numTelephone }}</p>
        </div>
        

        <div class="line"></div>

        <h3>Architecte : {{ project.architecte }}</h3>

        <p>Status : {{ project.projectStatus }}</p>
        <p>Nature : {{ project.natureProject }}</p>
        <p>Observation : {{ project.observation }}</p><br>

        <p>Date of Entry : {{project.dateEntree | date: 'dd/MM/yyyy, HH:mm:ss' }}</p>
        <p>Last Modify Date : {{project.dateSortie | date: 'dd/MM/yyyy, HH:mm:ss' }}</p><br>

        <p>prixPaye : {{project.prixPaye}}</p>
        <p>avance : {{project.avance}}</p>
        <p>reste : {{project.reste}}</p>
    </div>

    <!-- project files -->
    <div class="files">
        <!-- #showFilesButton            show files-->
        <button title="Project Files" class="show-files-button not-selectable" (click)="showHideFiles()">
            <mat-icon>folder</mat-icon><span style="font-weight: bold;">({{ projectFiles.length }})</span>
        </button>


        <div *ngIf="displayFiles">
            project files :
            <ul class="files-list">
                <li *ngFor="let file of projectFiles">
                    <a href="http://localhost:8080/download_file/{{project.id}}/{{file}}" target="_blank">{{file}}</a>
                    <button class="file" (click)="downloadFile(file)">{{ file }}</button>
                    <button *ngIf="hasAuthority('project:write')" class="action delete delete-file-button not-selectable" (click)="deleteFile(file)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <!-- upload files -->
    <!-- <div>
            <br>
            <form [formGroup]="fileForm" (ngSubmit)="onSubmit($event)">
                <label for="singleFile">Upload file</label>
                <input id="singleFile" type="file" name="file" multiple (change)="onFileUploadChange($event)"
                    #filesInput>
                <input type="submit" [disabled]="files.length === 0">
                <br>
            </form>
        </div>
    </div> -->

    <!-- </div> -->