// error message
.error{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: red;
}

form{
    overflow:hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    width: 350px;
    border-radius: 7px;
    background-color: white;
}

.form-element{
    width: fit-content;
    margin: auto;
}


h2{
    margin-top: 0;
    background-color: rgb(116, 173, 173);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: rgb(238, 182, 0);
}

.submit-button-div{
    width: fit-content;
    margin: auto;
}

.login{
    width: fit-content;
    margin: auto;
}
a{
    color: rgb(0, 185, 145);
    text-decoration: none;
    font-size: 20px;
}

p{
    margin-top: 0;
    text-align: center;
    font-size: 12px;
    color: rgb(233, 218, 5);
}

mat-form-field{
    width: 240px;
    margin-bottom: 20px;
}


#password2-error{
    margin-bottom: 20px;
}