<!-- Error -->
<div class="error">
    <h3 *ngIf="errorMessage"> Error : {{errorMessage}} ! </h3>

    <div *ngIf="tokenExpiredMsg">
        <h3> {{tokenExpiredMsg}} ! </h3>
        <button mat-raised-button (click)="reconnect()">Reconnect</button>
    </div>
</div>

<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="title">
            <h2>User Registration</h2>
        </div>

        <div class="form-element">
            <mat-form-field class="form-field">
                <input matInput placeholder="username" formControlName="username">
                <mat-hint *ngIf="!username.value">Enter your username</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-element">
            <mat-form-field class="form-field">
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-hint *ngIf="!password.value">Enter your password</mat-hint>
            </mat-form-field>
        </div>

        <div class="form-element">
            <mat-form-field class="form-field">
                <input matInput placeholder="Password" type="password" formControlName="password2">
                <mat-hint *ngIf="!password2.value">Valid your password</mat-hint>
            </mat-form-field>
            <mat-error *ngIf="password2.touched && (password.value !== password2.value)" id="password2-error">
                passwords do not match !
            </mat-error>
        </div>

        <div class="form-element">
            <mat-form-field class="form-field">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="role.invalid && role.touched">
                    Champ obligatoire
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="role.value === 'MANAGER'">
            <p>{{activationMessage}}</p>
        </div>


        <div class="submit-button-div">
            <button class="submit-button" mat-raised-button type="submit"
                [disabled]="(registerForm.invalid || isSending || password.value !== password2.value)"
                color="primary">Register</button>
        </div>
    </form>

    <div class="login">
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</div>

