 <!-- <div class="notif" *If="isDisplayed"  [ngClass]="{'success-notif': notifType === 'success', 'error-notif': notifType === 'error'}"
    ngStyle="{opacity:isDisplayed? 1: 0}">
    {{notifMessage}} <br>
    {{new Date()}}

    <app notify></app> -->