// .success-notif {
//     background-color: rgb(176, 219, 127);
// }

// .error-notif {
//     background-color: rgb(202, 109, 22);
// }

// .notif {
//     position: fixed;
//     bottom: 2em;
//     right: 2em;
//     border-radius: 5px;
//     width: 300px;
//     height: 70px;
//     transition: opacity 0.3s ease-in;
// }