<!-- filters -->
<div>
    <form [formGroup]="projectFilterForm">
        <div class="container">

            <div class="show-filters-div">
                <button *ngIf="!showFilters" (click)="showHideFilters()" class="show-filters-button"><mat-icon>keyboard_arrow_down</mat-icon></button>
                <button *ngIf="showFilters" (click)="showHideFilters()" class="show-filters-button"><mat-icon>keyboard_arrow_up</mat-icon></button> 
            </div>

            <div *ngIf="showFilters" class="filter-elements">
                <div class="filter-element">

                    <mat-form-field class="form-field">
                        <mat-label>Client</mat-label>
                        <mat-select (click)="getClients()" formControlName="clientIdFilter">
                            <mat-option>
                                All
                            </mat-option>
                            <mat-option *ngFor="let client of clients" [value]="client.id">
                                {{client.nom}} {{client.prenom}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="filter-element">
                    <mat-form-field class="form-field">
                        <input matInput placeholder="Architecte..." formControlName="architecteFilter">
                    </mat-form-field>
                </div>


                <div class="filter-element statusFilter">
                    <!-- <mat-checkbox (click)="disableFilter('statusFilter')"></mat-checkbox> -->
                    <mat-radio-group color="primary" formControlName="statusFilter">
                        <mat-radio-button checked>All</mat-radio-button>
                        <mat-radio-button *ngFor="let status of allStatus" [value]="status">{{status}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="filter-element natureFilter">
                    <mat-radio-group color="primary" formControlName="natureFilter">
                        <mat-radio-button checked>All</mat-radio-button>
                        <mat-radio-button *ngFor="let nature of natures" [value]="nature">{{nature}}</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="filter-element observationFilter">
                    <mat-radio-group color="primary" formControlName="observationFilter">
                        <mat-radio-button checked>All</mat-radio-button>
                        <mat-radio-button *ngFor="let observation of observations" [value]="observation">{{observation}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="filter-element">
                    <mat-form-field appearance="fill">
                        <mat-label>Verbose datepicker</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                </div>




            </div>
            <!-- <mat-checkbox formControlName="observationFilter" (change)="onValuesChange('observation', 'Etude', $event.checked)">Etude</mat-checkbox> -->
        </div>
    </form>
</div>

<!-- Error -->
<div class="error">
    <h3 *ngIf="errorMessage"> Error : {{errorMessage}} ! </h3>

    <div *ngIf="tokenExpiredMsg">
        <h3> {{tokenExpiredMsg}} ! </h3>
        <button mat-raised-button (click)="reconnect()">Reconnect</button>
    </div>
</div>

<!-- projects -->
<div>
    <p style="text-align: center; font-weight: bold;">projects({{projectsFiltred.length}})</p>
    <ul>
        <li *ngFor="let project of projectsFiltred">
            <app-project-details (getProjectsFunction)="getProjects()" [project]="project"></app-project-details>
        </li>
    </ul>
</div>


<!-- new project button -->
<div *ngIf="hasAuthority('project:write')" class="new-project-button not-selectable">
    <a routerLink="/projects/edit" routerLinkActive="active">
        <mat-icon title="New Project">add_box</mat-icon>
    </a>
</div>