

.container{
    background-color: rgb(231, 231, 197);
    width: fit-content;
    margin: 2em auto;
}

.show-filters-div{
    text-align: center;
}


.show-filters-button{
    cursor:pointer;
    width: fit-content;
    height: 24px;
    padding: 0;
    border-width: 0;
    background-color: rgb(211, 211, 177);
}
.show-filters-button:focus{
    outline: 0;
}
.show-filters-button mat-icon{
    font-weight: bold;
}


.filter-elements{
    text-align: center;
    // transition: width 2s;
    
}

.statusFilter, .natureFilter, .observationFilter{
    padding-bottom: 1em;
}

mat-radio-button{
    padding: 0 0.5em;
}





// error message
.error{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: red;
}

ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 40%;
}

// add client button
.new-project-button{
    width: fit-content;
    position: fixed;
    bottom: 30px;
    right: 80px;
}
.new-project-button mat-icon{
    font-size: 60px;
    color: rgb(118, 134, 141);
}

.new-project-button mat-icon:hover{
    color:  rgb(3, 140, 194);
}  

@media screen and(max-width: 816px) {
    ul{
        width: 320px;
    }
}