.container{
    display: flex;
    margin: 5em auto;
    width: fit-content;
}

.client{
    overflow:hidden;
    margin-right: 2em;
    padding: 0;
    width: 280px;
    height: fit-content;
    border-radius: 7px;
    background-color: white;
}
.add-client{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0.5em;
   
}
.add-client mat-icon{
    padding-right: 20px;
    font-size: 40px;
    color: rgb(118, 134, 141);
}

.add-client mat-icon:hover{
    color:  rgb(3, 140, 194);
}

.project{
    overflow:hidden;
    padding-bottom: 1em;
    width: 350px;
    border-radius: 7px;
    background-color: white;
}

.form-element{
    width: fit-content;
    margin: auto;
}

.title{
    background-color: rgb(116, 173, 173);
    text-align: center;
}
h2{
    margin-top: 0;
    font-size: 25px;
    padding: 7px;
    color: rgb(238, 182, 0);
}

.submit-button-div{
    width: fit-content;
    margin: auto;
}


mat-form-field{
    width: 240px;
    margin-bottom: 20px;
}
