<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="container">

    <div class="client">
      <div class="title">
        <h2>Client</h2>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <mat-label>Client</mat-label>
          <mat-select formControlName="clientId">
            <mat-option *ngFor="let client of clients" [value]="client.id">
              {{client.nom}} {{client.prenom}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clientId.invalid && clientId.touched">
            Champ obligatoire !!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="add-client not-selectable">
        <a routerLink="/clients/edit" routerLinkActive="active">
            <mat-icon title="Add Client">person_add</mat-icon>
        </a>
    </div>
    </div>


    <div class="project">

      <div class="title">
        <h2>Project</h2>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <mat-label>Nature De Projet</mat-label>
          <mat-select formControlName="natureProject">
            <mat-option *ngFor="let nature of natures" [value]="nature">
              {{nature}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="natureProject.invalid && natureProject.touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <mat-label>Observation</mat-label>
          <mat-select formControlName="observation">
            <mat-option *ngFor="let observation of observations" [value]="observation">
              {{observation}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="observation.invalid && observation.touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <mat-label>Statut Du Projet</mat-label>
          <mat-select formControlName="projectStatus">
            <mat-option *ngFor="let status of allStatus" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="projectStatus.invalid && projectStatus.touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <input matInput placeholder="Architecte..." formControlName="architecte">
          <mat-error *ngIf="architecte.invalid && architecte.touched">
            Champ obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <input matInput placeholder="Prix Payé..." formControlName="prixPaye">
          <mat-error *ngIf="prixPaye.errors?.required && prixPaye.touched">
            Champ obligatoire
          </mat-error>
          <mat-error *ngIf="prixPaye.errors?.pattern && reste.touched">
            entrez un entier !!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <input matInput placeholder="Avance..." formControlName="avance">
          <mat-error *ngIf="avance.errors?.required && avance.touched">
            Champ obligatoire
          </mat-error>
          <mat-error *ngIf="avance.errors?.pattern && reste.touched">
            entrez un entier !!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-element">
        <mat-form-field class="form-field">
          <input matInput placeholder="Le Reste..." formControlName="reste">
          <mat-error *ngIf="reste.errors?.required && reste.touched">
            Champ obligatoire
          </mat-error>
          <mat-error *ngIf="reste.errors?.pattern && reste.touched">
            entrez un entier !!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="submit-button-div">
        <button mat-raised-button type="submit" [disabled]="projectForm.invalid || isSending"
          color="primary">Submit</button>
      </div>

    </div>
  </div>


</form>