// filters
.filters{
    width: 40%;
    background-color: rgb(231, 231, 197);
    margin: 0 auto;
}
.filter-elements{
    text-align: center;
    width: fit-content;
    margin: 2em auto;
}

.filter-element{
    width: fit-content;
    margin: 0 1em;
    display: inline-block;
}

.filter-element mat-form-field{
    width: 6em;
}


// error message
.error{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: red;
}

// clients
.clients-div{
    margin: 0 auto;
    width: 40%;
}

.clients-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.client{
    position: relative;
    background-color: rgb(199, 223, 226);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 1em auto;
    width: 100%;
}

.client-actions{
    width: fit-content;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
.action{
    cursor:pointer;
    padding: 3px 0 0 0;
    width: 35px;
    height: 31px;
    margin-left: 0.5em;
    border-width: 0;
    border-radius: 5px;
}
.action:focus {
    outline:0;
}

.delete:hover{
    color: rgb(218, 106, 32);
}
.edit:hover{
    color: rgb(99, 90, 216);
}

.client-informations{
    margin-left: 1.5em;
    padding: 1em 0;
    font-family: 'Proza Libre', sans-serif;
    font-size: 14px;
}

h2{
    margin: 0;
    margin-bottom: 0.3em;
    font-weight: bold;
}

p{
    margin: 0;
    padding-left: 1em;
    color: rgb(0, 109, 211);
    font-weight: bold;
}



// add client button
.add-button{
    width: fit-content;
    position: fixed;
    bottom: 30px;
    right: 80px;
}
.add-button mat-icon{
    font-size: 60px;
    color: rgb(118, 134, 141);
}

.add-button mat-icon:hover{
    color:  rgb(3, 140, 194);
}  