<!-- filters -->
<div class="filters">
    <form class="filter-form" [formGroup]="clientFilterForm">
        <div class="filter-elements">

            <div class="filter-element">
                <mat-form-field>
                    <input matInput placeholder="Nom..." formControlName="nomFilter">
                </mat-form-field>
            </div>

            <div class="filter-element">
                <mat-form-field>
                    <input matInput placeholder="Prenom..." formControlName="prenomFilter">
                </mat-form-field>
            </div>

            <div class="filter-element">
                <mat-form-field>
                    <input matInput placeholder="Telephone..." formControlName="numTelephoneFilter">
                    <mat-error *ngIf="numTelephoneFilter.errors?.pattern">
                        *Chiffres !!
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>

<!-- Error -->
<div class="error">
    <h3 *ngIf="errorMessage"> Error : {{errorMessage}} ! </h3>
    
    <div *ngIf="tokenExpiredMsg">
        <h3> {{tokenExpiredMsg}} ! </h3>
        <button mat-raised-button (click)="reconnect()">Reconnect</button>
    </div>
</div>




<!-- clients -->
<div class="clients-div">
    <ul class="clients-list">
        <li class="client" *ngFor="let client of clientsFiltred">

            <div *ngIf="hasAuthority('client:write')" class="client-actions not-selectable">
                <button title="Delete Client" class="action delete" (click)="deleteClient(client.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button title="Edit Client" class="action edit" (click)="editClient(client.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="client-informations">
                <h2>{{client.nom + " " + client.prenom}}</h2>
                <p>tél : {{client.numTelephone}} </p>
            </div>

        </li>
    </ul>
</div>


<!-- add client button -->
<div *ngIf="hasAuthority('client:write')" class="add-button not-selectable">
    <a routerLink="/clients/edit" routerLinkActive="active">
        <mat-icon title="Add Client">person_add</mat-icon>
    </a>
</div>