<!-- Filters -->
<div class="filters">
    <form class="filter-form" [formGroup]="userFilterForm">
        <div class="filter-elements">
            <!-- username -->
            <div class="filter-element usernameFilter">
                <mat-form-field>
                    <input matInput placeholder="username..." formControlName="usernameFilter">
                </mat-form-field>
            </div>

            <!-- role -->
            <div class="filter-element roleFilter">
                <mat-checkbox color="primary" formControlName="adminRoleFilter">ADMIN</mat-checkbox>
                <mat-checkbox color="primary" formControlName="managerRoleFilter">MANAGER</mat-checkbox>
                <mat-checkbox color="primary" formControlName="userRoleFilter">USER</mat-checkbox>
            </div>

            <!-- enabled -->
            <div class="filter-element enabledFilter">
                <mat-radio-group formControlName="enabledFilter">
                    <mat-radio-button color="primary" value="" checked>all</mat-radio-button>
                    <mat-radio-button color="primary" value="false">disabled</mat-radio-button>
                    <mat-radio-button color="primary" value="true">enabled</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

    </form>
</div>

<!-- Error -->
<div class="error">
    <h3 *ngIf="errorMessage"> Error : {{errorMessage}} ! </h3>

    <div *ngIf="tokenExpiredMsg">
        <h3> {{tokenExpiredMsg}} ! </h3>
        <button mat-raised-button (click)="reconnect()">Reconnect</button>
    </div>
</div>

<!-- users -->
<div class="users-div">
    <ul class="users-list">
        <li class="user" *ngFor="let user of users" [class.disabled-user]="user.enabled === false">

            <div *ngIf="filterUser(user)">
                <div *ngIf="hasAuthority('user:write') && user.role !== 'ADMIN'" class="user-actions not-selectable">
                    <button title="Delete User" class="action delete" (click)="deleteUser(user.username)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button title="Edit User" class="action edit" (click)="editUser(user.username)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button title="Activate User" *ngIf="user.enabled === false" class="action activate"
                        (click)="activateUser(user.username)">
                        <mat-icon>check</mat-icon>
                    </button>

                    <button title="Disable User" *ngIf="user.role === 'MANAGER' && user.enabled === true" class="action disable"
                        (click)="disableUser(user.username)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <div class="user-informations">
                    <h2>{{ user.username }}</h2>
                    <p>{{ user.role }}</p>
                    <!-- {{ user.enabled }} -->
                </div>
            </div>

        </li>
    </ul>
</div>