// Filters
.filters{
    width: 40%;
    background-color: rgb(231, 231, 197);
    margin: 2em auto;
}
// .filter-elements{
//     text-align: center;
// }

.filter-element{
    width: fit-content;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.roleFilter, .enabledFilter{
    padding-bottom: 1em;
}

mat-checkbox, mat-radio-button{
    padding: 0 0.5em;
}


// error message
.error{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: red;
}

// users
.users-div{
    margin: 0 auto;
    width: 40%;
}

.users-list{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.user{
    position: relative;
    background-color: rgb(199, 223, 226);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 1em auto;
    width: 100%;
}
.disabled-user{
    background-color: rgb(233, 208, 193);
}

.user-actions{
    width: fit-content;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.action{
    cursor:pointer;
    padding: 3px 0 0 0;
    width: 35px;
    height: 31px;
    margin-left: 0.5em;
    border-width: 0;
    border-radius: 5px;
}

.activate mat-icon, .disable mat-icon{
    font-weight: bold;
}


.action:focus {
    outline:0;
}

.delete:hover{
    color: rgb(218, 106, 32);
}
.edit:hover{
    color: rgb(99, 90, 216);
}
.activate:hover{
    color: rgb(67, 196, 67);
}
.disable:hover{
    color: rgb(138, 116, 44);
}

// jjjjj

//jjjj




.user-informations{
    margin-left: 1.5em;
    padding: 1em 0;
    font-family: 'Proza Libre', sans-serif;
    font-size: 14px;
}

h2{
    margin: 0;
    margin-bottom: 0.3em;
    font-weight: bold;
}

p{
    margin: 0;
    color: rgb(0, 109, 211);
    font-weight: bold;
}
