<div>
  <form [formGroup]="clientForm" class="client-form" (ngSubmit)="onSubmit()">
    <div class="title">
      <h2>Client Edit</h2>
    </div>

    <div class="form-element">
      <mat-form-field class="form-field">
        <input matInput placeholder="Nom" formControlName="nom">
        <mat-error *ngIf="nom.invalid && nom.touched">
          Champ obligatoire
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field class="form-field">
        <input matInput placeholder="Prénom" formControlName="prenom">
        <mat-error *ngIf="prenom.invalid && prenom.touched">
          Champ obligatoire
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-element">
      <mat-form-field class="form-field">
        <input matInput placeholder="Télé" formControlName="numTelephone">
        <mat-error *ngIf="numTelephone.errors?.required && numTelephone.touched">
          Champ obligatoire
        </mat-error>
        <mat-error *ngIf="numTelephone.errors?.minlength && numTelephone.touched">
          Le nombre de chiffre ne dois pas être inférieur à 10
        </mat-error>
        <mat-error *ngIf="numTelephone.errors?.maxlength && numTelephone.touched">
          Le nombre de chiffre ne dois pas être supérieur à 10
        </mat-error>
        <mat-error *ngIf="numTelephone.errors?.pattern && numTelephone.touched">
          Le numéro de telephone dois commencer par '0' et ne contenir que des chiffres
        </mat-error>
      </mat-form-field>
    </div>

    <div class="button-div">
      <button mat-raised-button type="submit" [disabled]="clientForm.invalid || isSending"
        color="primary">Submit</button>
    </div>
  </form>
</div>

<!-- Error -->
<div class="error">  
  <h3 *ngIf="errorMessage"> Error : {{errorMessage}} ! </h3>
  <div *ngIf="tokenExpiredMsg">
      <h3> {{tokenExpiredMsg}} ! </h3>
      <button mat-raised-button (click)="reconnect()">Reconnect</button>
  </div>
</div>