.form-field{
    font-size: 20px;
}

form{
    overflow:hidden;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    width: 300px;
    border-radius: 7px;
    background-color: white;
}

.form-element{
    width: fit-content;
    margin: auto;
}

h2{
    margin-top: 0;
    background-color: rgb(116, 173, 173);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: rgb(238, 182, 0);
}

.button-div{
    width: fit-content;
    margin: auto;
}


mat-form-field{
    width: 200px;
    margin-bottom: 20px;
}
  
// error message
.error{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: red;
}

// @media screen and(max-width: 900px) {
//     .client-form {
//       margin: auto 0.7rem;

//       .submit-btn {
//         width: 100%;
//       }
//     }
// }
  