*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(6, 124, 124);
}

header{
    padding: 0 1.25em;
    position: fixed;
    top: 0;
    width: 100%;
    // position: relative;
    display: flex;
    justify-content: space-between;
    height: 2.5em;
}
.logo-nav{
    display: flex;
    justify-content: space-between;
}

.links{
    list-style: none;
}
.links li{
    float: left;
}

a{
    color: rgb(236, 236, 236);
    font-size: 21px;
    text-decoration: none;
    padding: 8px;
}


.link{
    line-height: 2.5em;
}

.logo-div{
    margin-right: 3em;
    line-height: 2.5em;
}

.logo{
    text-transform: uppercase;
    color: rgb(255, 196, 0);
    letter-spacing: 3px;
}

.active{
    background-color: rgb(12, 168, 168);
}

.link a:hover{
    background-color: rgb(8, 151, 151);
}


.auth-div{
    display: flex;
    justify-content: space-between;
}