<header class="not-selectable">
    <div class="logo-nav">

        <div class="logo-div">
            <a routerLink="/home" class="logo">the logo</a>
        </div>


        <div *ngIf="isLoggedIn()" class="nav-div">
            <nav>
                <ul class="links">
                    <li class="link" routerLinkActive="active"> <a routerLink="/home"
                            routerLinkActive="active">Accueil</a> </li>
                    <li class="link" routerLinkActive="active"> <a routerLink="/clients"
                            routerLinkActive="active">Clients</a> </li>
                    <li class="link" routerLinkActive="active"> <a routerLink="/projects"
                            routerLinkActive="active">Projects</a> </li>
                    <li class="link" routerLinkActive="active"> <a routerLink="/users"
                            routerLinkActive="active">Users</a> </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="auth-div">
        <div *ngIf="!isLoggedIn()" class="link">
            <a routerLink="/login" routerLinkActive="active" class="auth">Login</a>
            <a routerLink="/register" routerLinkActive="active" class="auth">Register</a>
        </div>

        <div *ngIf="isLoggedIn()" class="link">
            <a routerLink="/home" (click)="logout()" class="auth">Logout</a>
        </div>
    </div>
</header>