/* You can add global styles to this file, and also import other style files */


//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: rgb(240, 240, 240);
}

.not-selectable{
    
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
